<div id="content-top">
  <% if (session.user) { %>
    <button id="checkout">LÅN UT</button>
    <button id="checkin">LEVER INN</button>
    <button id="rfid">RFID</button>
    <h3>Hei <%= session.user.AE %>!</h3>
    <p> epost: <%= session.user.BE %> </p>
    <p> meld: <%= session.user.AF %> </p>
    <button id="logout" type="submit">Avslutt</button>
    <br/>
  <% } else { %>
    <table>
      <tr>
        <td>lånernummer</td>
        <td><input id="userid"></input></p></td>
      </tr>
      <tr>
        <td>passord</td>
        <td><input id="pass"></input></p></td>
        <td><button id="login" type="submit">logg inn</button></td>
      </tr>
    </table>
  <% } %>
</div>

<% if (session.user) { %>
  <div id="content-middle">
    <table id="borrowtable" >
      <thead>
        <tr>
          <th style="width:150px;">strekkode</th>
          <th style="width:350px;">tittel</th>
          <th style="width:350px;">melding</th>
          <th style="width:150px;">lånt tom</th>
          <th style="width:150px;">levert</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
<% } %>
