<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test KOHA RFID integration</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <% if (env != 'test') { %>
      <script type="text/javascript" src="/js/rfid.js"></script>
      <script type="text/javascript" src="/js/sip.js"></script>
    <% } %>
    <script type="text/javascript">
      $(document).ready(function() { 
      /* logics on login and SIP here */
        
        // login function
        var login = function(userid, pass) {
          // var last_td = $('tr#'+rowid+ " td:last");
          console.log(userid);
          console.log(pass);
          var request = $.ajax({
            url: '/login/'+userid+'/'+pass,
            type: 'PUT',
            success: function(data) {
              // reload page
              setTimeout(function(){window.location.reload()},1000);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.responseText);
            }
          });
        } 

        // logout function
        var logout = function() {
          var request = $.ajax({
            url: '/logout',
            type: 'GET',
            cache: false,
            preventDefault: true,
            success: function(data) {
              console.log("logged out");
              setTimeout(function(){window.location.reload()},1000);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.responseText);
            }
          });
        } 

        $('button#login').on('click', function () {
          var userid = $('#userid').val();
          var pass = $('#pass').val();
          if (!pass) {
            console.log("missing password!");
          } else {
            login(userid, pass);
          }
        });

        $('button#logout').on('click', function () { 
          logout();
        });

      }); 
    </script>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <a href="/">#</a>
        <p>Test KOHA RFID integration</p>
        <div id="debug"></div>
      </div>
    
      <div id="contents">
        <%- body %>
      </div>
    </div>
  </body>
</html>